.bottom-div {
	height: 10%;
	width: 100%;
	margin-bottom: 1%;
	display: flex;
	flex-direction: row;
	background-color: #fff;
	justify-content: center;
	align-items: center;
}

.message-textarea {
	border: 2px solid #eaeaea;
	border-radius: 10px;
	height: 30rpx;
}

.inputRoom {
	width: 100vw;
	height: 18vw;
	border-top: 1px solid #cdcdcd;
	background-color: #f1f1f1;
	position: fixed;
	bottom: 0;
	/*display: flex;
	align-items: center;*/
	z-index: 20;
}

input {
	width: 60vw;
	/*width: 70vw;*/
	height: 9.33vw;
	background-color: #fff;
	border-radius: 40rpx;
	margin-left: 2vw;
	padding: 0 3vw;
	font-size: 28rpx;
	color: #444;
}

.btn {
	background: #eb94d0;
	/* 创建渐变 */
	background-image: -webkit-linear-gradient(top, RGB(122, 120, 255), RGB(103, 220, 225));
	background-image: -moz-linear-gradient(top, RGB(122, 120, 255), RGB(103, 220, 225));
	background-image: -ms-linear-gradient(top, RGB(122, 120, 255), RGB(103, 220, 225));
	background-image: -o-linear-gradient(top, RGB(122, 120, 255), RGB(103, 220, 225));
	background-image: linear-gradient(to bottom, RGB(122, 120, 255), RGB(103, 220, 225));
	/* 给按钮添加圆角 */
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 13px;
	text-shadow: 3px 2px 1px #9daef5;
	-webkit-box-shadow: 6px 5px 24px #666666;
	-moz-box-shadow: 6px 5px 24px #666666;
	box-shadow: 6px 5px 24px #666666;
	font-family: Arial;
	color: #fafafa;
	text-decoration: none;
}

.leftMsg {
	font-size: 35rpx;
	color: #444;
	line-height: 7vw;
	padding: 2vw 2.5vw;
	background-color: #fff;
	margin-left: -1.6vw;
	border-radius: 10rpx;
	z-index: 10;
	position: relative;
	margin-left: 3vw;
}

.left-triangle{
	border: 8px solid #ffffff00;
	border-right: 8px solid #fff;
	position: absolute;
	top: 6px;
	left: -16px;
}

.rightMsg {
	font-size: 35rpx;
	color: #444;
	line-height: 7vw;
	padding: 2vw 2.5vw;
	background-color: #96EB6A;
	margin-right: -1.6vw;
	border-radius: 10rpx;
	z-index: 10;
	position: relative;
	margin-right: 3vw;
}

.right-triangle{
	border: 8px solid #ffffff00;
	border-left: 8px solid #96EB6A;
	position: absolute;
	top: 6px;
	right: -15px;
}

.emjio-view-item{
	border-top:1px solid #cdcdcd;
	height: 45vw;
	margin-top: 2vw;
	background-color: #f1f1f1;
}





